html {
    /* max-width: 375px; */
}
img {
    width: 100%;
}
.main-wrap {
    width: 100%;
}
.main-wrap .move-top {
    position: fixed;
    width: 35px;
}
.main-wrap .move-request {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #6f4a82;
    z-index: 2;
}
.main-wrap .move-request button {
    background: url(../images/move_req_text.png) 50% 50% no-repeat;
    background-size: 165px 16px;
    width: 100%;
    height: 76px;

}
.main-wrap .head-wrap {
    height: 76px;
    background: #fff;
}
.main-wrap .head-wrap .logo-wrap {
    width: 60px;
    margin: 0 auto;
}
.main-wrap .head-wrap .logo-wrap img {
    /* width: 100%; */
}
.main-wrap .section1-wrap {
    width: 100%;
    /* height: 403px; */
    background: #d2d2d2;
}
.main-wrap .section1-wrap .title-wrap{
    /* width: 304px; */
    padding: 75px 37px 189px 40px;
    margin: 0 auto;
}
.main-wrap .section2-wrap {
    width: 100%;
    /* height: 403px; */
    background: #fff;
	position: relative;
}
.main-wrap .section2-wrap .iphone-wrap{
    position: relative;
    width: 199px;
    margin: 0 auto -118px;
    top: -158px;
}
.main-wrap .section2-wrap .iphone-wrap img{
    position: relative;
    z-index: 1;
}
.main-wrap .section2-wrap .iphone-wrap:after{
    position: absolute;
    content: "";
    background: url(../images/iphone_shadow.png) 0 0 no-repeat;
    background-size: cover;
    width: 252px;
    height: 453px;
    top: -9px;
    z-index: 0;

}
.main-wrap .section2-wrap .title-wrap{
    position: relative;
    width: 280px;
    margin: 0 auto 36px;
/*    top: -114px;*/
}
.main-wrap .section2-wrap .contents-wrap{
    position: relative;
    width: 328px;
    margin: 0 auto;
/*    top: -78px;*/
}
.main-wrap .section2-wrap .contents2-wrap{
    position: relative;
    width: 298px;
    margin: 0 auto;
	padding-bottom: 32px;
/*    top: -33px;*/
}
.main-wrap .section2-wrap .more-minivertisng-btn{
    background: url(../images/more_minivertising_btn.png) 0 0 no-repeat;
    background-size: cover;
    width: 298px;
    height: 53px;
    margin: 0 auto;
    display: block;
    position: relative;
/*    top: -71px;*/
}
.main-wrap .section2-wrap .arrow-wrap{
    position: absolute;
    width: 171px;
    margin: 0 auto;
    left: 50%;
	bottom: -19px;
    margin-left: -86px;
/*    margin-top: -20px;*/
}
.main-wrap .section3-wrap {
    width: 100%;
    /* height: 403px; */
    background: #d2d2d2;
}
.main-wrap .section3-wrap .info-wrap {
    padding: 68px 39px 0 39px;
}
.main-wrap .section3-wrap .info-wrap .label-wrap{
	font-family: 'Noto Sans Korean';
    font-weight: 700;
    font-size: 15px;
    color: #292929;
    letter-spacing: 3px;
    padding: 0 0 8px 10px;
}
.main-wrap .section3-wrap .info-wrap .label-wrap span{
	font-family: 'Noto Sans Korean';
    font-weight: 300;
    font-size: 10px;
    color: #646464;
    letter-spacing: -1px;
}
.main-wrap .section3-wrap .info-wrap .input-wrap{
    margin-bottom: 18px;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .insta-area {
    width: 100%;
    font-size: 0;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .insta-area div{
    height: 46px;
    width: 55%;
    background: #f6f6f6;
    vertical-align: top;
    /* text-align: center; */
    display: inline-block;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .insta-area div img {
    width: 133px;
    margin: 9% 0 0 7%;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .insta-area input{
    font-family: 'Noto Sans Korean';
    font-weight: 500;
    font-size: 15px;
    height: 46px;
    width: 45%;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .phone-area {
    width: 100%;
    font-size: 0;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .phone-area input {
    font-family: 'Noto Sans Korean';
    font-weight: 500;
    font-size: 15px;
    height: 46px;
    width: 31%;
    margin-right: 3.5%
}
.main-wrap .section3-wrap .info-wrap .input-wrap .phone-area input:last-child {
    margin: 0;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .email-area {
    width: 100%;
    font-size: 0;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .email-area input {
    font-family: 'Noto Sans Korean';
    font-weight: 500;
    font-size: 15px;
    height: 46px;
    width: 100%;
}
.main-wrap .section3-wrap .info-wrap .notice-wrap {
    width: 100%;
    font-size: 10px;
    color: #929292;
    padding-bottom: 15px;
}
.main-wrap .section3-wrap .info-wrap .notice-wrap span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.main-wrap .section3-wrap .info-wrap .button-wrap {
    width: 100%;
}
.main-wrap .section3-wrap .info-wrap .button-wrap button{
    background: url(../images/request_btn.png) 0 0 no-repeat;
    background-size: cover;
    width: 298px;
    height: 53px;
}
.main-wrap .section3-wrap .info-wrap .copyright-wrap {
    width: 100%;
    text-align: center;
    padding: 26px 0 29px 0;
}
.main-wrap .section3-wrap .info-wrap .copyright-wrap img {
    width: 189px;
}
