html {
    /* max-width: 375px; */
}
* {
	box-sizing: border-box;
}
button:focus, a:focus {
	outline: 0 none;
}
img {
	display: block;
    width: 100%;
}
.main-wrap {
    width: 100%;
	padding-top: 76px;
	max-width: 375px;
	margin: 0 auto;
}
.main-wrap .move-top {
    position: fixed;
	bottom: 101px;
	right: 38px;
    width: 35px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}
.main-wrap .move-request {
    position: fixed;
    bottom: 0;
    left: 0;
	right: 0;
/*
	max-width: 375px;
	margin: 0 auto;
*/
    width: 100%;
    background: #6f4a82;
    z-index: 2;
}
.main-wrap .move-request button {
	display: block;
    background: url(../images/move_req_text.png) 50% 50% no-repeat;
    background-size: 165px 16px;
    width: 100%;
    height: 76px;
}
.main-wrap .head-wrap {
	position: fixed;
/*
	max-width: 375px;
	margin: 0 auto;
*/
	top: 0;
	left: 0;
	right: 0;
    height: 76px;
    background: #fff;
	box-shadow: 0px 1px 18px rgba(46, 46, 46, 0.25);
	z-index: 100;
}
.main-wrap .head-wrap .logo-wrap {
	position: absolute;
	width: 60px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main-wrap .head-wrap .logo-wrap img {
    /* width: 100%; */
}
.main-wrap .section1-wrap {
    width: 100%;
    /* height: 403px; */
    background: #d2d2d2;
}
.main-wrap .section1-wrap .title-wrap{
    /* width: 304px; */
    padding: 75px 37px 189px 40px;
    margin: 0 auto;
}
.main-wrap .section2-wrap {
    width: 100%;
	padding: 0 38px;
    /* height: 403px; */
    background: #fff;
	position: relative;
}
.main-wrap .section2-wrap .iphone-wrap{
    position: relative;
    width: 199px;
    margin: 0 auto -118px;
    top: -158px;
}
.main-wrap .section2-wrap .iphone-wrap img{
    position: relative;
    z-index: 1;
}
.main-wrap .section2-wrap .iphone-wrap:after{
    position: absolute;
    content: "";
    background: url(../images/iphone_shadow.png) 0 0 no-repeat;
    background-size: cover;
    width: 252px;
    height: 453px;
    top: -9px;
    z-index: 0;

}
.main-wrap .section2-wrap .title-wrap{
    position: relative;
/*    width: 280px;*/
    margin: 0 auto 36px;
/*    top: -114px;*/
}
.main-wrap .section2-wrap .contents-wrap{
    position: relative;
/*    top: -78px;*/
	text-align: center;
}
.main-wrap .section2-wrap .contents-wrap .text {
	width: 218px;
	margin: 0 auto 28px;
}
.main-wrap .section2-wrap .contents-wrap .clients {
	margin: 0 auto 46px;
	padding: 16px 26px;
/*	box-sizing: content-box;*/
	box-shadow: 0px 14px 25px -2px rgba(46, 46, 46, 0.16);
}
.main-wrap .section2-wrap .contents-wrap .clients img {
	display: block;
	width: 100%;

}
.main-wrap .section2-wrap .contents2-wrap{
    position: relative;
/*    width: 298px;*/
    margin: 0 auto;
	padding: 38px 0 32px;
/*    top: -33px;*/
}
.main-wrap .section2-wrap .more-minivertisng-btn{
    background: url(../images/more_minivertising_btn.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 53px;
    margin: 0 auto;
    display: block;
    position: relative;
/*    top: -71px;*/
}
.main-wrap .section2-wrap .arrow-wrap{
    position: absolute;
    width: 171px;
    margin: 0 auto;
    left: 50%;
	bottom: -19px;
    margin-left: -86px;
/*    margin-top: -20px;*/
}
.main-wrap .section3-wrap {
    width: 100%;
    /* height: 403px; */
    background: #d2d2d2;
}
.main-wrap .section3-wrap .info-wrap {
    padding: 68px 39px 0 39px;
}
.main-wrap .section3-wrap .info-wrap .label-wrap{
	font-family: 'Noto Sans Korean';
    font-weight: 700;
    font-size: 15px;
    color: #292929;
    letter-spacing: 3px;
    padding: 0 0 8px 10px;
}
.main-wrap .section3-wrap .info-wrap .label-wrap span{
	font-family: 'Noto Sans Korean';
    font-weight: 300;
    font-size: 10px;
    color: #646464;
    letter-spacing: -1px;
}
.main-wrap .section3-wrap .info-wrap .input-wrap{
    margin-bottom: 18px;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .insta-area {
    width: 100%;
    font-size: 0;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .insta-area div{
	position: relative;
    height: 46px;
    width: 55%;
    background: #f6f6f6;
    vertical-align: top;
    /* text-align: center; */
    display: inline-block;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .insta-area div img {
	display: block;
	width: 81.5%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 130px;
}
.main-wrap .section3-wrap .info-wrap input[type="text"],
.main-wrap .section3-wrap .info-wrap input[type="tel"] {
	padding-left: 10px !important;
/*	font-size: 11px !important;*/
	font-size: 13px;
	font-weight: 500;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .insta-area input{
    font-family: 'Noto Sans Korean';
    height: 46px;
    width: 45%;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .phone-area {
    width: 100%;
    font-size: 0;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .phone-area input {
    font-family: 'Noto Sans Korean';
    height: 46px;
    width: 31%;
    margin-right: 3.5%
}
.main-wrap .section3-wrap .info-wrap .input-wrap .phone-area input:last-child {
    margin: 0;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .email-area {
    width: 100%;
    font-size: 0;
}
.main-wrap .section3-wrap .info-wrap .input-wrap .email-area input {
    font-family: 'Noto Sans Korean';
    height: 46px;
    width: 100%;
}
.main-wrap .section3-wrap .info-wrap .notice-wrap {
    width: 100%;
    font-size: 10px;
    color: #929292;
    padding-bottom: 15px;
}
.main-wrap .section3-wrap .info-wrap .notice-wrap span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.main-wrap .section3-wrap .info-wrap .button-wrap {
    width: 100%;
}
.main-wrap .section3-wrap .info-wrap .button-wrap button{
	display: block;
	width: 100%;
    height: 53px;
    background: url(../images/request_btn.png) 50% no-repeat;
    background-size: cover;
}
.main-wrap .section3-wrap .info-wrap .copyright-wrap {
    width: 100%;
    text-align: center;
    padding: 26px 0 29px 0;
}
.main-wrap .section3-wrap .info-wrap .copyright-wrap img {
    width: 189px;
	margin: 0 auto;
}

@media all and (max-width: 350px) {
	.main-wrap .section3-wrap .info-wrap input[type="text"],
	.main-wrap .section3-wrap .info-wrap input[type="tel"] {
		font-size: 10px;
	}
	.main-wrap .section3-wrap .info-wrap .label-wrap span {
		display: block;
		margin-top: 5px;
	}
}
