@charset 'utf-8';
.for-a11y {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
}
caption.for-a11y {
  display: table-caption;
  position: static;
  width: auto;
  margin-bottom: -1px;
}
img {
  display: block;
}
.wrap {
  min-width: 1350px;
}
.main-section,
.event-section {
  min-width: 1350px;
}
.main-section__contents,
.event-section__contents {
  width: 1100px;
  margin: 0 auto;
}
.swiper-button-next-text,
.swiper-button-prev-text {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
}
.js-select-ui {
  position: relative;
  display: inline-block;
}
.js-select-ui.is-active,
.js-select-ui.is-animated {
  z-index: 1000;
}
.js-select-ui.is-top .js-select-ui__layer {
  top: auto;
  bottom: 100%;
}
.js-select-ui.is-top .js-select-ui__layer-inner {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.js-select-ui.is-active .js-select-ui__layer {
  z-index: 1000;
}
.js-select-ui.is-active .js-select-ui__layer-inner {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.js-select-ui__layer {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
}
.js-select-ui__layer-inner {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.ui-select {
  min-width: 205px;
}
.ui-select .js-ui-selectbox__opener {
  position: relative;
  text-align: left;
  font-size: 14px;
  line-height: 43px;
  color: #1088ca;
  padding: 0 56px 0 18px;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.ui-select .js-ui-selectbox__opener:after {
  content: '';
  display: block;
  width: 20px;
  height: 11px;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -5px;
  background: url('../images/main-section-04-select-arrow.png') no-repeat 0 0;
}
.ui-select .js-ui-selectbox__list {
  background: #f9fdfe;
}
.ui-select .js-ui-selectbox__radio {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
}
.ui-select .js-ui-selectbox__label {
  display: block;
  font-size: 14px;
  line-height: 43px;
  color: #1088ca;
  padding: 0 18px;
  cursor: pointer;
}
.footer {
  min-width: 1350px;
  padding: 30px 0 66px;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #303030;
  background: #d5d5d5;
}
.footer .logo {
  margin-bottom: 14px;
}
.footer .logo img {
  margin: 0 auto;
}
.footer .copy {
  margin-top: 35px;
}
.main-section--01 {
  background: url('../images/main-section-01-bg.jpg') no-repeat 50% 0 #3ac1df;
}
.main-section--01 .main-section__contents {
  position: relative;
  height: 1089px;
}
.main-section--01 .title {
  padding-top: 115px;
}
.main-section--01 .title img {
  margin: 0 auto;
}
.main-section--01 .text {
  padding-top: 13px;
}
.main-section--01 .text img {
  margin: 0 auto;
}
.main-section--01 .js-drop {
  position: absolute;
  top: 404px;
  left: 47px;
  width: 11px;
  height: 26px;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  background: url('../images/drop.png') no-repeat 0 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.main-section--01 .js-drop-02 {
  position: absolute;
  top: 555px;
  left: 190px;
  width: 17px;
  height: 37px;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: url('../images/drop02.png') no-repeat 0 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.main-section--01 .js-drop-03 {
  position: absolute;
  top: 626px;
  left: 43px;
  width: 15px;
  height: 35px;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  background: url('../images/drop03.png') no-repeat 0 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.main-section--01 .js-bubble-wrap {
  position: absolute;
  top: 270px;
  left: -35px;
  width: 300px;
  height: 720px;
}
.main-section--01 .js-bubble-wrap .js-bubble {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}
.main-section--01 .js-bubble-wrap .js-bubble div {
  width: 19px;
  height: 18px;
  margin-top: -18px;
  background: url('../images/bubble.png') no-repeat 0 0;
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}
.main-section--01 .js-bubble-wrap .js-bubble:nth-child(3n-1) div {
  width: 25px;
  height: 24px;
  margin-top: -24px;
  background: url('../images/bubble02.png') no-repeat 0 0;
}
.main-section--01 .js-bubble-wrap .js-bubble:nth-child(3n-2) div {
  width: 35px;
  height: 34px;
  margin-top: -34px;
  background: url('../images/bubble03.png') no-repeat 0 0;
}
.main-section-01-slide {
  position: relative;
  margin: 78px 245px 15px 260px;
}
.main-section-01-slide:after {
  content: '';
  display: table;
  clear: both;
}
.main-section-01-slide ul {
  display: none;
}
.main-section-01-slide .swiper-container {
  height: 460px;
  margin-bottom: 25px;
}
.main-section-01-slide .swiper-container ul {
  display: block;
}
.main-section-01-slide li {
  background: url('../images/main-section-01-slide.png') no-repeat 0 0;
}
.main-section-01-slide .quatrain-node {
  padding-left: 150px;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  letter-spacing: -1px;
  margin-top: 55px;
}
.main-section-01-slide .quatrain-node:first-child {
  margin-top: 78px;
}
.main-section-01-slide .info {
  position: absolute;
  right: 125px;
  bottom: 5px;
}
.main-section-01-slide .swiper-button-next,
.main-section-01-slide .swiper-button-prev {
  display: block;
  border-radius: 100%;
  background: no-repeat 50% 50% #fff;
  width: 26px;
  height: 26px;
}
.main-section-01-slide .swiper-button-next {
  float: right;
  margin: 0 50px 0 9px;
  background-image: url('../images/main-section-01-slide-next.png');
}
.main-section-01-slide .swiper-button-prev {
  float: right;
  background-image: url('../images/main-section-01-slide-prev.png');
}
.main-section-01-btn {
  margin: 15px 0 0 320px;
}
.main-section-01-btn:after {
  content: '';
  display: table;
  clear: both;
}
.main-section-01-btn li {
  float: left;
}
.main-section-01-btn li + li {
  margin-left: 16px;
}
.main-section-01-btn .btn {
  display: block;
  width: 216px;
  height: 42px;
  border-radius: 21px;
  background: #fff;
  line-height: 0;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  -webkit-box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.33);
  box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.33);
}
.main-section-01-btn .btn img {
  display: inline-block;
  margin: 12px 0 11px 0;
}
.main-section-01-btn .btn:after {
  content: '';
  display: inline-block;
  height: 100%;
  margin-left: 10px;
  background: no-repeat 0 50%;
}
.main-section-01-btn .btn--event:after {
  width: 19px;
  background-image: url('../images/main-section-01-btn-01-icon.png');
}
.main-section-01-btn .btn--share:after {
  width: 18px;
  background-image: url('../images/main-section-01-btn-02-icon.png');
}
.main-section--02 {
  background: url('../images/main-section-02-bg.jpg') no-repeat 50% 0 #f3c9b1;
}
.main-section--02 .main-section__contents {
  height: 890px;
}
.main-section--02 .title {
  padding: 65px 0 40px;
}
.main-section--02 .title img {
  margin: 0 auto;
}
.main-section--02 .sub-title img {
  margin: 0 auto;
}
.main-section--02 .step {
  margin: 27px 0 22px;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.main-section--02 .step li {
  display: inline-block;
  width: 245px;
  vertical-align: top;
}
.main-section--02 .step li + li {
  padding-left: 33px;
  background: url('../images/main-section-02-step-arrow.png') no-repeat 0 85px;
}
.main-section--02 .step li img {
  margin: 0 auto;
}
.main-section--02 .product {
  margin: 22px 0 40px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px 10px rgba(113, 69, 59, 0.15);
  box-shadow: 0 0 20px 10px rgba(113, 69, 59, 0.15);
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.main-section--02 .product li {
  position: relative;
  display: inline-block;
  width: 365px;
  vertical-align: top;
  padding: 25px 0;
}
.main-section--02 .product li + li {
  padding-left: 2px;
}
.main-section--02 .product li + li:before {
  content: '';
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 25px;
  border-left: 2px solid #fbd7df;
}
.main-section--02 .product li img {
  margin: 0 auto;
}
.main-section--02 .text img {
  margin: 0 auto;
}
.main-section--03 {
  background: url('../images/main-section-03-bg.jpg') no-repeat 50% 0 #aadcef;
}
.main-section--03 .main-section__contents {
  position: relative;
  height: 1078px;
}
.main-section--03 .title {
  padding: 80px 0 15px;
}
.main-section--03 .title img {
  margin: 0 auto;
}
.main-section--03 .text img {
  margin: 0 auto;
}
.main-section--03 .text img + img {
  margin-top: 17px;
}
.main-section--03 .info li {
  position: absolute;
  width: 253px;
  height: 253px;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  text-align: center;
}
.main-section--03 .info li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main-section--03 .info li img {
  display: inline-block;
  vertical-align: middle;
}
.main-section--03 .info-01 {
  top: 337px;
  right: 243px;
}
.main-section--03 .info-02 {
  top: 566px;
  right: 92px;
}
.main-section--03 .info-03 {
  top: 757px;
  right: 295px;
}
.main-section--04 {
  background: url('../images/main-section-04-bg.jpg') no-repeat 50% 0, url('../images/main-section-04-patton.jpg') repeat-x 50% 0;
}
.main-section--04 .main-section__contents {
  position: relative;
  width: 1200px;
  height: 920px;
}
.main-section--04 .entry-list {
  padding-top: 126px;
  margin: 0 0 0 -22px;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.main-section--04 .entry-list li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 262px;
  height: 262px;
  margin: 0 0 30px 22px;
  text-align: left;
  background: url('../images/main-section-04-card.jpg') no-repeat 50% 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-section--04 .entry-list .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #004071;
  padding: 37px 0 27px 25px;
}
.main-section--04 .entry-list .node {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #004071;
  padding: 0 0 21px 82px;
}
.main-section--04 .entry-list .like {
  position: absolute;
  display: block;
  top: 27px;
  right: 26px;
  width: 41px;
  height: 38px;
  background: url('../images/main-section-04-like-off.png') no-repeat 0 0;
}
.main-section--04 .entry-list .like.is-active {
  background-image: url('../images/main-section-04-like-on.png');
}
.main-section--04 .form {
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.main-section--04 .form > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 14px;
  text-align: left;
}
.main-section--04 .form > li:after {
  content: '';
  display: table;
  clear: both;
}
.main-section--04 .form .search-input {
  display: block;
  float: left;
  width: 150px;
  height: 43px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 43px;
  color: #1088ca;
  padding: 0 0 0 18px;
  background: #fff;
}
.main-section--04 .form .search-input + label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 43px;
  color: #a6acb1;
  padding: 0 0 0 18px;
}
.main-section--04 .form .search-input.is-value + label {
  left: -999999px;
}
.main-section--04 .form .search-submit {
  display: block;
  float: left;
  width: 55px;
  height: 43px;
  background: url('../images/main-section-04-search.png') no-repeat 50% 50% #fff;
}
.main-section--04 .page {
  margin-top: 70px;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.main-section--04 .page li {
  display: inline-block;
  vertical-align: top;
}
.main-section--04 .page li.is-active a {
  font-weight: 700;
}
.main-section--04 .page a {
  display: block;
  padding: 0 12px;
  font-size: 16px;
  line-height: 25px;
  color: #0b345e;
}
.main-section--04 .page a:hover {
  text-decoration: underline;
}
.main-section--04 .prev,
.main-section--04 .next {
  position: absolute;
  top: 375px;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  background: url('../images/main-section-04-prev.png') no-repeat 50% 50% #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.main-section--04 .prev {
  left: -65px;
}
.main-section--04 .next {
  right: -65px;
  background-image: url('../images/main-section-04-next.png');
}
.main-section--05 {
  background: url('../images/main-section-05-bg.jpg') no-repeat 50% 0, url('../images/main-section-05-patton.jpg') repeat-x 50% 0;
}
.main-section--05 .main-section__contents {
  height: 1116px;
}
.main-section--05 .title {
  padding: 105px 0 20px;
}
.main-section--05 .title img {
  margin: 0 auto;
}
.main-section--05 .text img {
  margin: 0 auto;
}
.main-section--05 .video {
  width: 843px;
  height: 436px;
  padding: 10px;
  margin: 108px auto 57px;
  background: #fff;
}
.main-section--05 .video iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.main-section--05 .more img {
  margin: 0 auto;
}
.main-section--05 .sns {
  margin: 27px 0 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.main-section--05 .sns li {
  display: inline-block;
}
.main-section--05 .sns li + li {
  margin-left: 20px;
}
.main-section--05 .sns li button {
  display: block;
  width: 104px;
  height: 104px;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  text-align: center;
  background: #04afd9;
  border-radius: 100%;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 20px 5px rgba(113, 113, 113, 0.15);
  box-shadow: 0 0 20px 5px rgba(113, 113, 113, 0.15);
}
.main-section--05 .sns li button:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main-section--05 .sns li button img {
  display: inline-block;
  vertical-align: middle;
}
.event-section--01 {
  background: url('../images/event-section-01-bg.jpg') no-repeat 50% 0 #00c1e1;
}
.event-section--01 .event-section__contents {
  position: relative;
  height: 890px;
}
.event-section--01 .title {
  padding: 35px 0 7px;
}
.event-section--01 .title img {
  margin: 0 auto;
}
.event-section--01 .text img {
  margin: 0 auto;
}
.event-section--01 .form {
  margin: 53px 281px 57px 476px;
}
.event-section--01 .form li {
  position: relative;
}
.event-section--01 .form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 66px;
  padding: 0 26px;
  font-size: 28px;
  line-height: 66px;
  letter-spacing: -1px;
  color: #112e3d;
  background: none;
  overflow: hidden;
}
.event-section--01 .form label {
  display: block;
  width: 100%;
  height: 66px;
  padding: 0 26px;
  font-size: 28px;
  line-height: 66px;
  color: #b7bdc0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: -1px;
}
.event-section--01 .form .is-value + label {
  left: -999999px;
}
.event-section--01 .form-02 {
  margin-top: 31px;
}
.event-section--01 .form-03 {
  margin-top: 30px;
}
.event-section--01 .form-04 {
  margin-top: 31px;
}
.event-section--01 .form-05 {
  margin-top: 37px;
  margin-right: 104px;
}
.event-section--01 .sns {
  position: absolute;
  top: 314px;
  right: 130px;
}
.event-section--01 .sns li {
  margin-bottom: 10px;
}
.event-section--01 .sns button {
  width: 66px;
  height: 66px;
  background: #fbdadf;
  border: 2px solid #fff;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  text-align: center;
  border-radius: 100%;
}
.event-section--01 .sns button:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.event-section--01 .sns button img {
  display: inline-block;
  vertical-align: middle;
}
.event-section--01 .event-submit {
  display: block;
  margin: 0 auto;
  width: 344px;
  height: 67px;
  background: #112e3d;
  border-radius: 30px;
  line-height: 0;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  -webkit-box-shadow: 11px 10px 10px rgba(0, 0, 0, 0.33);
  box-shadow: 11px 10px 10px rgba(0, 0, 0, 0.33);
}
.event-section--01 .event-submit img {
  display: inline-block;
  margin: 23px 0 22px 0;
}
.event-section--01 .event-submit:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 100%;
  margin-left: 20px;
  background: url('../images/event-section-01-submit-icon.png') no-repeat 0 50%;
}
.footer--event {
  padding: 22px 0 36px;
  line-height: 20px;
}
.footer--event .logo img {
  margin: 0 auto;
}
.footer--event .copy {
  margin-top: 11px;
}
